<div class="box">
  <span id="long-month-name">{{longMonthName}}</span>
  <span id="full-year">{{currentYear}}</span>
  <table id="calendar">
    <thead>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks; index as i;">
        <ng-container *ngFor="let date of week; index as j;">
          <td id="{{ date.format('YYYYMMDD') }}" (click)="openEventInputComponent(date)" [class.dim]="!isInFocusMonth(date)">{{ date.format('D') }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
